{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% comment %} Tienda de Videojuegos {% endcomment %}{% endblock %}</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body class="bg-body text-body">
    {% block content %}
    <!-- Aquí irá el contenido específico de cada página -->
    {% endblock %}

    <footer class="text-center mt-5 mb-3">
        <p>© 2025 Tienda de Videojuegos</p>
        <a href="{% url 'home' %}" class="text-body">Inicio</a>
        <a href="{% url 'contacto' %}" class="text-body ms-3">Contacto</a>
    </footer>

     <!-- Botón de cambio de tema -->
    <div class="text-center my-3">
        <button id="toggle-theme" class="btn btn-outline-secondary">Cambiar tema</button>
    </div>
</body>
</html>