{% extends 'base.html' %}
{% load static %}

{% block title %}Resultados de búsqueda{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mb-4 text-body">Resultados para "{{ query }}"</h2>

        {% if lista_juegos %}
        <div class="row">
            {% for juego in lista_juegos %}
            <div class="col-md-4 mb-3">
                <div class="card h-100 shadow-sm">


                    {% comment %} <a href="{% url 'detalle_juego' juego.id %}" class="text-decoration-none text-body"> {% endcomment %}
                    <a href="#}" class="text-decoration-none text-body">
                    
                    
                        <!-- Imagen del juego -->
                        <img src="{% static 'img/portadas/'|add:juego.imagen %}" class="card-img-top" alt="{{ juego.nombre }}">
                        <div class="card-body text-start">
                            <!-- Nombre, plataforma y precio -->
                            <h5 class="card-title">{{ juego.nombre }}</h5>
                            <p class="card-text">{{ juego.plataforma }}</p>
                            <p class="card-text fw-bold">{{ juego.precio }} €</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-muted">No se encontraron resultados para "{{ query }}".</p>
        {% endif %}
    </div>


    <!-- Paginación con Bootstrap -->
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if lista_juegos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ lista_juegos.previous_page_number }}">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
            {% endif %}

            {% for num in lista_juegos.paginator.page_range %}
            {% if lista_juegos.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if lista_juegos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ lista_juegos.next_page_number }}">Siguiente</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Siguiente</span>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}